@model IEnumerable<SE1615_Group04_StudentManagement.Models.Subject>
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;
@{ 
    String name = HttpContextAccessor.HttpContext.Session.GetString("UserName");
}
@{
    ViewData["Title"] = "Index";
}

<h1>Subject</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">SubjectID:</label>
            <input type="text" name="sid" class="form-control" />
        </div>
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>

                @Html.DisplayNameFor(model => model.Subjectid)
            </th>
            <th>

                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subjectid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                @if (name == "admin")
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Subjectid">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Subjectid">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Subjectid">Delete</a>
                    </td>
                }
                else
                {
                    <td>
                        
                        <a asp-action="Details" asp-route-id="@item.Subjectid">Details</a>
                        
                    </td>
                }
                
        </tr>
}
    </tbody>
</table>
